<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="upload" method="post" enctype="multipart/form-data">
      <label for="name">NAME :</label><input type="text" name="name">
      <label for="email">EMAIL :</label><input type="text" name="email">
        <label for="pancard">PANCARD :</label><input type="text" name="pancard" >
          <label for="name">pancard Files :</label>
      <input type="file" name="pancardFile" >
      <input type="file" name="pancardFile2">
      <input type="submit" value="upload">
    </form>
  </body>
</html>
