<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/generateInvoice" method="get">
        <input name="name" placeholder="Enter Your Name">
        <select name = "companyName">
            <option value="Select">
                Select Company
            </option>
            <option value="Bento">
                Bento
            </option>
            <option value="AssetMonk">
                AssetMonk
            </option>
            <option value="Incor">
                Incor
            </option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>